/* Versão Mobile */

.container-header {
  width: 100%;
}

.container-header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;
  padding: 18px 24px 12px 24px;
  gap: 16px;
}

.button-header_movel {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-darkest);
  border-radius: 100px;
  color: var(--color-neutral-lightest);
  font-size: var(--font-size-6);
  font-weight: var(--fw-medium);
  line-height: 21px;
  width: 148px;
  height: 40px;
}

.button-header_movel:hover {
  background-color: var(--color-primary-darkest);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-primary-lightest);
  box-shadow: 0px 4px 4px rgba(0, 122, 255, 0.15);
  padding-left: 24px;
  padding-right: 24px;
  min-width: 360px;
  margin: 0 auto;
}

.custom-link {
  color: var(--color-primary-darkest);
  font-size: var(--font-size-6);
  font-weight: var(--fw-regular);
  padding-top: 8px;
  padding-bottom: 8px;
}

.custom-link:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
}

.container-header_desktop {
  display: none;
}

/* Versão Desktop */

@media (min-width: 1200px) {
  .container-header_desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 122, 255, 0.15);
    background-color: var(--color-neutral-lightest);
  }

  .logo_desktop {
    min-width: 176px;
    padding-right: 136px;
    padding-left: 26px;
  }

  .custom-link_desktop {
    text-align: center;
    color: var(--color-primary-darkest);
    font-size: var(--font-size-6);
    font-weight: var(--fw-regular);
    min-width: 140px;
    padding-top: 9px;
    padding-bottom: 8px;
  }

  .custom-link_desktop:hover {
    border-bottom: 1px solid var(--color-primary-darkest);
  }

  .button-header_desktop {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-darkest);
    border-radius: 100px;
    color: var(--color-neutral-lightest);
    font-size: var(--font-size-6);
    font-weight: var(--fw-medium);
    line-height: 21px;
    width: 202px;
    height: 40px;
  }

  .button-header_desktop:hover {
    background-color: var(--color-primary-darkest);
  }

  .navbar_desktop {
    display: flex;
    justify-content: space-around;
  }

  .button-container_desktop {
    padding-left: 20px;
    padding-right: 30px;
  }

  .icons-header_desktop {
    display: flex;
    align-items: center;
    padding-right: 26px;
    gap: 8px;
  }

  .container-header_wrapper,
  .navbar {
    display: none;
  }
}
