.navbar__desktop {
  display: flex;
  justify-content: space-around;
}
.navbar__link_desktop {
  text-align: center;
  color: var(--color-primary-darkest);
  font-size: var(--font-size-6);
  font-weight: var(--fw-regular);
  min-width: 140px;
  padding-block: 0.5rem;
  border-bottom: 1px solid transparent;
}

.navbar__link_desktop:hover {
  border-bottom: 1px solid var(--color-primary-darkest);
}
