.content {
  width: 86.7%;
  margin-inline: auto;
  max-width: 76rem;
  display: grid;
  grid-template-columns: 1;
  gap: 2.5rem;
  padding-block: 3.5rem;
}
.title {
  font-weight: var(--fw-medium);
  font-size: var(--font-size-2);
  color: var(--color-secondary-dark);
  line-height: var(--line-height-1);
}
.title_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: var(--fw-regular);
  font-size: var(--font-size-5);
  color: var(--color-neutral-darkest);
  line-height: var(--line-height-2);
}

/* ⬇ provisório  */
.button_materials {
  width: 100%;
  padding: 9px;
  font-weight: var(--fw-medium);
  font-size: var(--font-size-5);
  color: var(--color-neutral-lightest);
  line-height: var(--line-height-2);
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-darkest);
  border-radius: 100vh;
}
.button_materials:hover {
  background-color: var(--color-primary-darkest);
}
/* ⬆ provisório  */

.container_image_mandala {
  position: relative;
  aspect-ratio: 592/444;
}
.image_mandala {
  border-radius: 15px;
}

@media (min-width: 48em) {
  .content {
    display: grid;
    grid-template-columns: 1fr 40ch;
    padding-right: 104px;
    padding-top: 5rem;
    padding-bottom: 1rem;
    gap: 134px;
  }
  .title_text {
    grid-column: 2/3;
    max-width: 67.5ch;
    gap: 2rem;
  }

  /* ⬇ provisório  */
  .button_materials {
    width: 72.8%;
  }
  /* ⬆ provisório  */

  .container_image_mandala {
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
  }
}
