.navbar__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-primary-lightest);
  box-shadow: 0px 4px 4px rgba(0, 122, 255, 0.15);
  padding-inline: 1.5rem;
}

.navbar__link_mobile {
  color: var(--color-primary-darkest);
  font-size: var(--font-size-6);
  font-weight: var(--fw-regular);
  padding-block: 0.5rem;
}

.navbar__link_mobile:hover {
  text-decoration: underline;
  text-underline-offset: 0.9em;
}
