.options_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;

  justify-content: space-around;
  margin-bottom: 2rem;
  color: var(--color-primary-darkest);
  font-size: var(--heading-3);

  @media (min-width: 40em) {
    margin-bottom: 2.25rem;
  }

  .option {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: font-weight 150ms ease-in-out, border-color 150ms ease-in-out;
    cursor: pointer;
    &:hover {
      font-weight: 500;
      border-color: var(--color-primary-darkest);
    }
    @media (min-width: 40em) {
      margin-bottom: 2.25rem;
    }
  }
}

.options_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-primary-darkest);
  padding: 1.5rem 1rem 2.5rem 1rem;
  text-align: left;
  color: var(--color-primary-lightest);
  border-radius: 1rem;

  @media (min-width: 40em) {
    padding: 3rem 6.25rem;
    text-align: center;
    gap: 1.5rem;
  }
}
