.button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--fw-regular);
  font-size: var(--heading-3);
  line-height: var(--line-height-2);
  color: var(--color-primary-darkest);
}
