.container {
  padding-bottom: 48px;
}
.about_content {
  width: 87%;
  margin-inline: auto;
  max-width: 76rem;
}
.about_buttons {
  margin-bottom: 2rem;
  font-size: var(--font-size-3);
  font-weight: var(--fw-bold);
  line-height: var(--line-height-2);
}
.about_button_know {
  border-bottom: 4px solid;
  color: var(--color-primary-darkest);
  font-size: var(--heading-3);
}
.about_title_text_video {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about_title {
  margin-bottom: 0.67em;
  font-size: var(--heading-2);
  font-weight: var(--fw-medium);
  line-height: var(--line-height-1);
  color: var(--color-secondary-dark);
}
.about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-5);
  font-weight: var(--fw-regular);
  line-height: var(--line-height-2);
  color: var(--color-neutral-darkest);
}
.about_inBold {
  font-weight: var(--fw-bold);
}
.about_video {
  aspect-ratio: 696/405;
  border-radius: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--color-primary-medium);
}

@media (min-width: 75em) {
  .about_title_text_video {
    flex-direction: row;
    gap: 2rem;
  }
  .about_title_text {
    width: 50%;
    padding-block: 24px 16px;
  }
  .about_title {
    font-weight: var(--fw-semi-bold);
  }
  .about_video {
    width: 71%;
  }
}
