.projects-section {
  margin-inline: auto;
  width: 100%;
  max-width: 65.5em;
  padding-inline: 1.5rem;
}

.projects-section-title {
  color: var(--color-primary-darkest);
  text-align: center;
  margin-block-end: 2rem;
}

.projects-list-button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.project-button {
  cursor: pointer;
  appearance: none;
  flex-shrink: 0;
}

.project-icon-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  width: fit-content;
}

.project-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
  @media (min-width: 40em) {
    padding: 0.875rem;
  }
  &:hover {
    filter: brightness(120%);
    outline: 1px solid var(--color-primary-darkest);
  }
}

.project-title {
  display: none;

  @media (min-width: 40em) {
    display: block;
  }
}
