.section {
  margin-inline: auto;
  max-width: 65.5rem;
  padding-inline: 1.5rem;
  padding-block-start: 2rem;
  padding-block-end: 5rem;
  @media (min-width: 40em) {
    padding-block-end: 6rem;
  }
}

.projects_section_title {
  color: var(--color-primary-darkest);
  text-align: center;
  margin-block-end: 2rem;
}

.project_icon_container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  width: fit-content;
}

.project_icon_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 100vh;
  padding: 0.5rem;
  & svg {
    color: var(--color-neutral-lightest);
  }
  @media (min-width: 40em) {
    padding: 0.875rem;
  }
  &:hover {
    background-color: var(--color-primary-medium);
    & svg {
      color: var(--color-neutral-lightest);
    }
  }
}

.project_title {
  display: none;
  @media (min-width: 40em) {
    display: block;
  }
}

.active {
  background-color: var(--color-primary-dark);
  & svg {
    color: var(--color-neutral-lightest);
  }
}

.inactive {
  background-color: var(--color-primary-lightest);
  & svg {
    color: var(--color-primary-dark);
  }
}
