.container__about {
  display: flex;
  flex-direction: column;
  padding: 112px 24px 43.32px 23px;
}
.container__about__buttons {
  display: flex;
  justify-content: space-between;
  height: 34px;
}
.container__about__button {
  margin: 5px 0px 5px 1px;
  gap: 16px;
  line-height: var(--line-height-2);
  font-weight: var(--fw-bold);
  font-size: var(--font-size-3);
  color: var(--color-primary-darkest);
  border-bottom: 4px solid;
}
.container__about__title {
  padding-top: 48px;
  padding-bottom: 24px;
  font-weight: var(--fw-medium);
  font-size: var(--font-size-2);
  color: var(--color-secondary-dark);
}
.container__about__text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  letter-spacing: -1px;
  gap: 16px;

  line-height: var(--line-height-2);
  font-size: var(--font-size-3);
  color: var(--color-neutral-darkest);
}

.container__about__text__paragraph {
  font-weight: var(--fw-regular);
}

span {
  font-weight: var(--fw-bold);
}

.container__about__video {
  margin-top: 48px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--color-primary-medium);
}
