.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  margin: -2rem;
}

.books_container {
  display: flex;
  gap: 1rem;
}

.books_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.image {
  @media (min-width: 40em) {
    width: 176px;
    height: 264px;
  }
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: var(--heading-3);
  font-weight: var(--fw-bold);
  color: var(--color-primary-darkest);
  line-height: var(--line-height-1);
}

.subtitle {
  font-size: var(--font-size-5);
  font-weight: var(--fw-regular);
  color: var(--color-neutral-dark);
}

.container_buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.download_link > a,
.open_link > a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  & > svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-primary-medium);
    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.download_link,
.open_link > a > p {
  font-size: var(--font-size-5);
  font-weight: var(--fw-light);
  color: var(--color-primary-darkest);
}
