.nav {
  display: flex;
  gap: 4.5rem;
  line-height: var(--line-height-2);
  font-size: var(--font-size-5);
  font-weight: var(--fw-medium);
}
.content_container {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
.item {
  color: var(--color-neutral-lightest);
}
.item:hover {
  color: var(--color-primary-lightest);
}

@media (min-width: 40em) {
  .nav {
    flex-direction: column;
    gap: 1.5rem;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
