.projects_list_button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.project_button {
  flex-shrink: 0;
  &:focus-visible {
    outline: 3px solid var(--color-primary-dark);
    outline-offset: 10px;
    border-radius: 6px;
  }
}

.carousel {
  position: relative;
  container-name: projects-carousel;
  container-type: inline-size;
}

.carousel_projects {
  overflow: hidden;
}

.carousel_projects_container {
  padding: 0.25rem;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.left,
.right {
  --size: 2.5rem;
  display: grid;
  place-items: center;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-dark);
  border-radius: 100vh;
  margin-block: auto;
  width: var(--size);
  height: var(--size);
  &:hover {
    background-color: var(--color-secondary-medium);
    color: var(--color-secondary-darkest);
  }
  @container projects-carousel (min-width: 40em) {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

@container projects-carousel (min-width: 40em) {
  .carousel_nav {
    display: contents;
  }

  .left {
    left: 0;
    transform: translateX(-50%);
  }

  .right {
    right: 0;
    transform: translateX(50%);
  }
}
