.header {
  box-shadow: 0px 1px 40px -13px var(--color-primary-transparent-darkest);
}

.wrapper {
  display: grid;
  margin-inline: auto;
  max-width: 65.5em;
}

.header__logo {
  justify-self: center;
}

.header__logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  gap: 1rem;
  box-shadow: 0px 1px 0px 0px var(--color-primary-transparent-dark);
}

.header__nav_container {
  padding-inline: 0.5rem;
}

.header__nav_container > a,
.header__nav_container > ul:last-child {
  display: none;
}

.header__button {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-darkest);
  border-radius: 100vh;
  color: var(--color-neutral-lightest);
  font-size: var(--font-size-6);
  font-weight: var(--fw-medium);
  line-height: 1.2;
  white-space: nowrap;
  padding: 0.6rem 1.25rem;
}

@media (min-width: 60em) {
  .header__nav_container {
    display: flex;
    gap: 1rem;
  }

  .header__button:hover {
    background-color: var(--color-primary-darkest);
  }

  .header {
    justify-content: space-between;
    gap: 1rem;
  }

  .wrapper {
    grid-template-columns: repeat(2, auto);
    gap: 3.5rem;
    padding: 1rem;
  }

  .header__logo_container {
    box-shadow: none;
    padding: 0;
  }

  .header__logo_container > a:nth-child(2) {
    display: none;
  }

  .header__nav_container > a {
    display: block;
  }

  .header__nav_container > ul:last-child {
    display: flex;
  }

  .header__logo > img {
    min-width: 176px;
    min-height: 41px;
  }
}

@media (min-width: 65em) {
  .wrapper {
    gap: 8rem;
  }
}
