.footer {
  background-color: var(--color-primary-darkest);
  color: var(--color-neutral-lightest);
  padding-top: 48px;
  padding-bottom: 56px;
  padding-inline: 1.125rem;
  display: grid;
  grid-template-columns: 1fr;
}

.footer_container {
  max-width: 75rem;
  margin-inline: auto;
}

.logo_socials_container {
  display: contents;
}

.logo_abre_mobile {
  max-width: 176px;
  place-self: center;
  margin-bottom: 3rem;
}

.footer_content {
  display: grid;
  gap: 2rem;
}

.donation_container {
  display: flex;
  gap: 1.25rem;
}

.donation_text_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lgpd_and_icons_container {
  display: contents;
}

.donation_title {
  line-height: var(--line-height-1);
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
}

.donation_text {
  line-height: var(--line-height-2);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
}

.donation_text_strong {
  font-weight: var(--fw-bold);
}

.content_text {
  line-height: var(--line-height-2);
  font-size: var(--font-size-5);
  font-weight: var(--fw-regular);
}

.icon {
  color: var(--color-neutral-lightest);
}

.icon:hover {
  color: var(--color-primary-lightest);
}

.icons_container_mobile {
  display: flex;
  align-items: center;
  gap: 2rem;
  place-self: center;
}

.icons_container_desktop {
  display: none;
}

@media (min-width: 40em) {
  .lgpd_and_icons_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: span 2;
  }
}

@media (min-width: 60em) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
  }
  .content_text {
    grid-row: 1;
    grid-column-start: 3;
    max-width: 30ch;
    text-wrap-style: balance;
    gap: 1rem;
  }

  .donation_container {
    grid-column-start: 4;
  }
  .footer_content {
    display: contents;
  }

  .logo_socials_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-column-start: 1;
  }

  .logo_abre_mobile {
    place-self: auto;
  }

  .lgpd_and_icons_container {
    grid-column-start: 3;
    grid-row: 1;
  }

  .icons_container_mobile {
    display: none;
  }

  .icons_container_desktop {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
