.breadcrumbs {
  display: none;
}

@media (min-width: 40em) {
  .breadcrumbs {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    font-size: var(--font-size-6);
    font-weight: 500;
    color: var(--color-primary-dark);
    .chevron {
      color: var(--color-primary-medium);
    }
    & > *:hover {
      color: var(--color-primary-medium);
    }
    & :first-child {
      display: inline-flex;
      gap: 0.5rem;
    }
  }
}
