.reports_list {
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-content: start;
}

.empty_reports {
  color: var(--color-primary-medium);
  font-size: var(--heading-3);
}

.report {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: var(--heading-3);
  color: var(--color-primary-darkest);
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  & > a > svg {
    color: var(--color-primary-medium);
    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.show_more_reports {
  color: var(--color-primary-medium);
  font-size: var(--heading-3);
  width: fit-content;
  &:hover {
    color: var(--color-primary-dark);
    transition: color 150ms;
  }
}
